extends layouts/main-layout.pug

block content 
    .resultsContainer

block headerButton
    a(href="/messages/new")
        i.fa-regular.fa-square-plus

block scripts 
    script(src="/js/inboxPage.js") 