body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    color: #102C57;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/bg-2.jpg');
    background-size: cover;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
}

.loginContainer {
    padding: 40px;
    margin: auto auto auto 50px;
    width: 80%;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.8); 
    text-align: center;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.5); 
    border: 1px solid #ddd; /* Light gray border */
}

form {
    display: flex;
    flex-direction: column;
    padding: 0px; /* Increase padding */
}

input[type="text"],
input[type="email"],
input[type="password"] {
    margin-bottom: 20px;
    padding: 12px; /* Increase padding */
    border-radius: 8px; /* Rounded corners */
    border: 1.5px solid #ddd; /* Light gray border */
}

input[type="submit"] {
    background-color: #102C57; /* Facebook blue color */
    color: #F9F9F9; /* White text */
    border: none;
    border-radius: 8px; /* Rounded corners */
    padding: 12px 0; /* Increase padding */
    cursor: pointer; /* Change cursor on hover */
}

a:link, a:visited {
    color: #102C57; /* Facebook blue color */
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: block; /* Make link a block element */
}

a:hover, a:active {
    color: #0C224A; /* Darker blue on hover */
}
