:root {
    --blue: #102C57;
    --blueLight: #3C5B6F;
    --blueDark: #081A3C; 
    --grey: rgb(230, 236, 240);
    --gray: #ddd; 
    --spacing: 15px;
}

* {
    outline: none !important;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 19px;
    font-weight: 800;
    margin: 0;
}

a {
    color: var(--blue);
}

a:hover {
    color: inherit;
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
}

nav a {
    padding: 10px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a:hover {
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.5); 
    border: 1px solid #ddd;
}

.wrapper > .row {
    margin: 0;
}

button {
    background-color: transparent;
    border: none;
    color: #3C5B6F;
}

button i,
button span {
    pointer-events: none;
}

.mainSection {
    padding: 0;
    border-left: 1px solid var(--grey);
    border-right: 1px solid var(--grey);
    display: flex;
    flex-direction: column;
}

.titleContainer {
    height: 53px;
    padding: 0 var(--spacing);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--grey);
    flex-shrink: 0;
    font-size: 18px;
    font-weight: 600;
}

.titleContainer h1 {
    flex: 1;
}

.postFormContainer {
    display: flex;
    padding: var(--spacing);
    border-bottom: 2px solid rgb(230, 236, 240);
    flex-shrink: 0;
}

.modal .postFormContainer {
    border: none;
    padding: 0;
    padding-top: var(--spacing);
}

.modal .post {
    padding: 0 0 var(--spacing) 0;
}
.userImageContainer {
    width: 50px;
    height: 50px;
}

.userImageContainer img {
    width: 100%;
    border-radius: 50%;
    background-color: #ddd;
}

.textareaContainer {
    flex: 1;
    padding-left: var(--spacing);
}

.textareaContainer textarea {
    width: 100%;
    border: none;
    resize: none;
    font-size: 19px;
}

#submitPostButton {
    background-color: var(--blue);
    color: #ddd;
    border: none;
    border-radius: 40px;
    padding: 7px 15px;
}

#submitPostButton:disabled {
    background-color: var(--blueLight);
}

.post {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    cursor: pointer;
    border-bottom: 1px solid var(--grey);
    flex-shrink: 0;
}

.mainContentContainer {
    flex: 1;
    display: flex;
}

.postContentContainer {
    padding-left: var(--spacing);
    display: flex;
    flex-direction: column;
    flex: 1;
}

.username,
.date {
    color: #3C5B6F;
}

.username {
    flex: 1;
}

.displayName {
    font-weight: 700
}

.postFooter {
    display: flex;
    align-items: center;
}

.postFooter .postButtonContainer {
    display: flex;
    flex: 1;
}

.postFooter .postButtonContainer button {
    padding: var(--spacing);
}

.header a:hover {
    text-decoration: underline;
}

.header a,
.header span {
    padding-right: 5px;
}

.postButtonContainer button {
    padding: 10px 20px; /* Add padding for better spacing */
    border-radius: 8px; /* Rounded corners */
    border: none; /* Remove default border */
    cursor: pointer; /* Change cursor on hover */
    transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

.postButtonContainer.red button.active {
    color: #FF9EAA;
}

.postButtonContainer.red button:hover {
    color: #FF9EAA;
    margin-top: var(--spacing);
    background-color: rgba(255, 158, 170, 0.1);
    box-shadow: 0 4px 8px rgba(255, 158, 170, 0.3);
}

/* Green Button Styles */
.postButtonContainer.green button.active {
    color: #80B9AD;
}

.postButtonContainer.green button:hover {
    color: #80B9AD;
    margin-top: var(--spacing);
    background-color: rgba(128, 185, 173, 0.1);
    box-shadow: 0 4px 8px rgba(128, 185, 173, 0.3);
}

/* General Styles for Reply */
.postButtonContainer.orange button.active {
    color: #F5A623;
}

.postButtonContainer.orange button:hover {
    color: #F5A623;
    margin-top: var(--spacing); /*on hover adds spacing, remove later maybe*/
    background-color: rgba(245, 166, 35, 0.1);
    box-shadow: 0 4px 8px rgba(245, 166, 35, 0.3);
}

.postActionContainer {
    padding-left: 35px;
    font-size: 13px;
    margin-bottom: 10px;
    color: var(--blueLight);
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.postActionContainer .fa-retweet {
    padding-right: 10px;
}

.postActionContainer::before {
    color: var(--blueLight);
    font-weight: bold;
}

.postActionContainer:hover {
    color: var(--blueDark); 
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
}

.postActionContainer .username::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--blueDark);
    transition: width 0.3s;
}

.replyFlag {
    margin-bottom: 5px;

}

.replyFlag a {
    color:#4A90E2
}

.post.activePostClass .postBody, 
.post.activePostClass .postFooter {
    font-size: 23px;
    background-color: rgba(60, 91, 111, 0.5);
}

.postContentContainer .header {
    display: flex;
}

.errorMessage {
    padding: var(--spacing);
}

.coverPhotoSection {
    height: 180px;
    background-color: #102C57;
    position: relative;
}

.profileHeaderContainer .userImageContainer {
    height: 132px;
    width: 132px;
    margin-left: var(--spacing);
    position: absolute;
    bottom: -66px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileHeaderContainer .userImageContainer img{
    border: 4px solid #fff;
}

.profileHeaderContainer .profileButtonsContainer {
    text-align: right;
    padding: var(--spacing);
    min-height: 66px;
}

.profileButton,
.followButton {
    border: 1px solid var(--blue);
    color: var(--blue);
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 60px;
    display: inline-block;
    margin-left: var(--spacing);
}

.profileButton:hover,
.followButton:hover {
    background-color: rgba(212, 237, 255, 0.6);
}

.followButton.following {
    background-color: #102C57;
    color: #ddd;
}

.profileHeaderContainer .userDetailsContainer {
    display: flex;
    flex-direction: column;
    padding: 0 var(--spacing);
}

.followersContainer .value{
    font-weight: 800;
    margin-right: 7px;
}

.followersContainer span:not(.value){
    color: var(--blueLight);
}

.followersContainer a {
    margin-right: 15px;
}

.followersContainer a:hover {
    border-bottom: 1px solid var(--blue);
}

.tabsContainer {
    display: flex;
    border-bottom: 1px solid var(--blueLight);
    flex-shrink: 0;
}

.tab {
    flex: 1;
    padding: var(--spacing);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blueLight);
    font-weight: 700;
}

.tab.active {
    color: (--blueDark);
    border-bottom: 2px solid var(--blueLight);
}

.tab:hover {
    color: #3C5B6F;
    background-color: rgba(128, 152, 185, 0.3);
}

.noResults {
    padding: var(--spacing);
}

.resultsContainer {
    display: flex;
    flex-direction: column;
}

.resultsContainer .user {
    padding: var(--spacing);
    display: flex;
    border-bottom: 1px solid rgba(128, 152, 185, 0.3);
}

.user .userDetailsContainer {
    flex: 1;
    padding: 0 var(--spacing);
    align-content: center;
}

.followButtonContainer {
    padding: 0 var(--spacing);
    align-content: center;
}

.profilePictureButton, 
.coverPhotoButton {
    position: absolute;
    font-size: 50px;
    color: rgba(128, 152, 185, 0.6);
    display: none;
}

.userImageContainer:hover .profilePictureButton,
.coverPhotoSection:hover .coverPhotoButton {
    display: block;
}

.coverPhotoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.coverPhotoContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#imagePreview,
#coverPreview {
    width: 100%;
    display: block;

    /* This rule is very important, please don't ignore this */
    max-width: 100%;
}

.pinButton.active {
    color: rgb(74, 144, 226);
}

.pinnedPostText {
    font-size: 14px;
    font-weight: 400;
    color: #3C5B6F;
}

.pinnedPostContainer {
    border-bottom: 2px solid var(--blueLight);
}

.searchBarContainer {
    position: relative;
    color: var(--blueLight);
    padding: 10px var(--spacing);
}

.searchBarContainer i {
    position: absolute;
    top: 20px;
    left: 28px;
}

.searchBarContainer #searchBox {
    height: 36px;
    width: 100%;
    padding: 5px 15px 5px 40px;
    border-radius: 50px;
    color: var(--blueDark);
}

.chatPageContainer{
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.chatTitleBar {
    border-bottom: 1px solid var(--blueLight);
    display: flex;
    align-items: center;
    min-height: 60px;
    padding: 10px;
}

.chatTitleBar label {
    margin: 0 10px 0 0;
}

#userSearchTextbox {
    border: none;
    flex: 1;
    font-weight: 300;
    min-width: 350px;
}

#createChatButton {
    border: 1px solid var(--blueDark); /* Set a proper border */
    background-color: var(--blueDark);
    color: var(--grey); /* Use the defined --grey variable */
    padding: 7px 20px;
    margin: 10px auto;
    border-radius: 40px;
}

#createChatButton:disabled {
    background-color: var(--grey);
    color: var(--blueDark);
}

.selectedUser {
    font-weight: 400;
    background-color: #CBE5FE;
    color: #0084ff;
    padding: 5px;
    border-radius: 3px;
    margin: 5px 5px 0 0;
    display: inline-block;
}